.spacetrack-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  height: calc(100vh - 5.5rem);
  overflow: auto;
}

.ag-theme-astro {
  height: 100%;
}
