<div class="spacetrack-header">
  <h1>Starlink: {{ starlinkId }} - Spacetrack</h1>
  <rux-button
    [routerLink]="['/']"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    borderless
    icon="keyboard-arrow-left"
    >Back</rux-button
  >
</div>
@if (starlinksStore.starlink()) {
<div class="card-wrapper">
  <div class="ag-theme-astro">
    <ag-grid-angular
      [rowData]="starlinksStore.starlink()?.spaceTrack | keyvalue"
      [columnDefs]="spaceTrackCols"
      style="height: 100%"
    />
  </div>
</div>
}
