<h1>Starlink Satellites</h1>
<div class="card-wrapper">
  @if (starlinkStore.starlinks$() | async; as starlinks) {
  <div class="ag-theme-astro">
    <ag-grid-angular
      [rowData]="starlinks"
      [columnDefs]="starlinkCols"
      style="height: 100%"
    />
  </div>

  <!-- <p-table
    [columns]="starlinkCols"
    [value]="starlinks"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
    sortField="id"
    [sortOrder]="-1"
    [scrollable]="true"
    scrollHeight="flex"
    [paginator]="true"
    [rows]="25"
    [rowsPerPageOptions]="[10, 25, 50, 100]"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        @for (col of columns; track col) { @if(col.sortable) {
        <th [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        } @else {
        <th>{{ col.header }}</th>
        } }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @for (col of columns; track col) {
        <td>
          @if (col.field === 'spaceTrack') {
          <RuxButton
            [routerLink]="['/starlink/spacetrack/', rowData['id']]"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >View</RuxButton>
          } @else {
          {{ rowData[col.field] }}
          }
        </td>
        }
      </tr>
    </ng-template>
  </p-table> -->
  }
</div>
